.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: rgb(138, 215, 211);
    padding: 10px 0;
    text-align: center;
}

.texto {
    font-size: 30px;
    color: black;
}

.text-muted{
    font-size: 30px
}