<section id="hero">
    <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-interval="5000" data-bs-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <!-- slide 1 -->
             <div class="carousel-item active" style="background-image: url('https://i.pinimg.com/originals/0c/70/56/0c7056d68d3a4fd95394bea23127b155.jpg');">
                <div class="carousel-container">
                    <div class="container">
                        <h2 class="animate__animated animate__fadeInDown" >Bienvenido</h2>
                        <p class="parrafo">Ven y encontraras todo lo que necesitas para tu nuevo integrante de familia</p>
                        <button class="animate__animated animate__fadeInUp" mat-fab extended color="primary" >Ver más</button>
                    </div>
                </div>
             </div>
            <!-- slide 2 -->
            <div class="carousel-item" style="background-image: url('https://th.bing.com/th/id/R.39c4f996e18f15a90b08316b6d094ff3?rik=SdPaVhOc%2fdYuyQ&riu=http%3a%2f%2fwww.espaciosalondra.com%2fimagenes%2ftiendasampliadas%2f03196-01-3.jpg&ehk=MG0q3EjLjymtmwvYtav3QtU0goU3CeamOIAKFppAGhI%3d&risl=&pid=ImgRaw&r=0');">
                <div class="carousel-container">
                    <div class="container">
                        <h2 class="animate__animated animate__fadeInDown" >Compra en Linea</h2>
                        <p>Lor mejores productos que encontraras en nuestra pagina en linea</p>
                        <button class="animate__animated animate__fadeInUp" mat-fab extended color="primary" >Ver más</button>
                    </div>
                </div>
             </div>
            <!-- slide 3 -->
            <div class="carousel-item" style="background-image: url('https://th.bing.com/th/id/R.39c4f996e18f15a90b08316b6d094ff3?rik=SdPaVhOc%2fdYuyQ&riu=http%3a%2f%2fwww.espaciosalondra.com%2fimagenes%2ftiendasampliadas%2f03196-01-3.jpg&ehk=MG0q3EjLjymtmwvYtav3QtU0goU3CeamOIAKFppAGhI%3d&risl=&pid=ImgRaw&r=0');">
                <div class="carousel-container">
                    <div class="container">
                        <h2 class="animate__animated animate__fadeInDown" >Administra tu Tienda</h2>
                        <p class="animate__animated animate__fadeInUp">Categorias de productos y más podras encontrar en esta sección</p>
                        
                    </div>
                </div>
             </div>
        </div>


        <a href="#heroCarousel" class="carousel-control-prev" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bi bi-chevron-left"></span>
        </a>

        <a href="#heroCarousel" class="carousel-control-next" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon bi bi-chevron-right"></span>
        </a>

    </div>
</section>

<div class="container mb-5 containerText divPrincipal">
    <div class="row">
        <div class="col-lg-6 divs">
            <h3>Sillas para bebe</h3>
            <p class="textos">Sillas para comer, sillas para transportar al bebe en el auto, entre otros.</p>
        </div>
        <div class="col-lg-6 divs">
            <h3>Todo para el dormitorio</h3>
            <p class="textos">Aqui podras encontrar productos como muebles de cuna, cambiador o incluso ropa de cama para el bebe.</p>
        </div>
    </div>
</div>


