#hero {
    width: 100%;
    height: 70vh;
    background-color: rgb(16, 34, 68);
    overflow: hidden;
    position: relative;
}

#hero .carousel,
#hero .carousel .carousel-inner,
#hero .carousel .carousel-inner .item,
#hero .carousel .carousel-inner .item ::before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

#hero .carousel-item {
    min-height: 800px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 70%;
}

#hero .carousel-item::before {
    content: "";
    background: rgb(16, 34, 68);
}

#hero .carousel-container {
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    bottom: 0;
    top: 70px;
    left: 70px;
    right: 50px;
}

#hero .container {
    
    text-align: center;
    
}

#hero h2 {
    
    color: rgb(87, 9, 69);
    font-size: 3.5rem;
    font-weight: bolder;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.parrafo {
    color: rgb(87, 9, 69);
    text-align: center;
    margin: 5px;
    font-size: larger;
    background-color: rgba(22, 94, 123, 0.5); 
    padding: 2px;
}

.textos {
    color: rgb(199, 189, 197);
    text-align: center;
    margin: 5px;
    font-size: larger;
    padding: 2px;
}

.divs{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 20px;
}

