.spacer {
    flex: 1 1 auto;
}

a {
    text-decoration: none;
    color: black;
}

mat-toolbar {
    background-color: rgb(115, 237, 231);
}

.nomCliente{
    font-size: 15px;
    background-color: rgb(6, 67, 75);
}

.titulo{
    font-size: 40px;
    font-weight: bolder;
}